<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Editer une tâche</title>
</head>

<body>
    <div class="justify-content-center pt-2">
        <div class="col-lg-12">
            <div class="card px-3">
                <div class="card-body">
                    <h4 class="card-title">Modifier une tâche</h4>
                    <form action="/update_task" method="POST">
                        <div class="add-items d-flex">
                            <input name="edit" type="text" value="{{ task.msg }}" class="form-control todo-list-input" placeholder="Nom de la tâche">
                            <input type="hidden" name="key" value="{{ task._id }}">
                            <button type="submit" class="add btn btn-primary font-weight-bold todo-list-add-btn ml-2">Modifer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>



</html>