<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="justify-content-center pt-3">
                <div class="col-lg-12">
                    <div class="card px-3">
                        <div class="card-body">
                            <form action="/add_task">
                                <div class="add-items d-flex">
                                    <h3 class="card-title pt-2">TODOLIST</h3>
                                    <button class="add btn btn-primary font-weight-bold todo-list-add-btn ml-5 pr-5 pl-5" type="submit"><i class="fa fa-plus"></i></button>
                                </div>
                            </form>
                            <br>
                            <br>
                            <div class="list-wrapper">
                                <ul class="d-flex flex-column-reverse todo-list">
                                    {% for tod in tasks %}
                                    <li><i class="fa fa-arrow-right mr-2"></i>
                                        <label class="form-check-label">{{ tod.msg }} <i class="input-helper"></i></label>
                                        <a class="ml-2" href="{{ url_for('edit_task', key=tod.key)}}"><i class="fa fa-pencil"></i></a>
                                        <a class="ml-2" href="{{ url_for('delete_task', key=tod.key)}}"><i class="fa fa-trash"></i></a>
                                    </li>
                                    <br> {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>